{% extends "base.html" %}
{% load static i18n %}
{% block title %}Seraphim{% endblock %}

{% block content %}
<div class="container">
  <h2>Characters</h2>
  <div class="row">
    <div class="col-sm-6" style="background-color:aliceblue;">
        <div class="row">
            <div class="col-sm-2" style="background-color:black;">
                Icon
            </div>
            <div class="col-sm-10" style="background-color:antiquewhite;">
                Details
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
