{% extends "base.html" %}
{% load static i18n %}
{% block title %}Seraphim{% endblock %}

{% block content %}
<div class="container">
    <h2>Characters</h2>

    <div class="row mb-4">
        <div class="col-md-6" style="background-color:black;">
            <div class="row">
                <div class="col-2" style="background-color:aliceblue;">
                    <img class="img img-responsive" src="static/images/pc_icons/swords-emblem.svg" />
                </div>
                <div class="col-10" style="background-color:aliceblue;">
                    <h3>Details</h3>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="background-color:black;">
            <div class="row">
                <div class="col-2" style="background-color:aliceblue;">
                    <img class="img img-responsive" src="static/images/pc_icons/daggers.svg" />
                </div>
                <div class="col-10" style="background-color:aliceblue;">
                    <h3>Details</h3>
                </div>
            </div>
        </div>

        <div class="col-md-6" style="background-color:cadetblue;">2</div>
        <div class="col-md-6" style="background-color:darkolivegreen;">3</div>
        <div class="col-md-6" style="background-color:blue;">2</div>
        <div class="col-md-6" style="background-color:blueviolet;">3</div>
    </div>
</div>    
{% endblock content %}
