{% extends "base.html" %}
{% block title %}Seraphim{% endblock %}

{% block content %}
<div class="container">
    <H3>Welcome to Seraphim</H3>
    <p>This is my side project to try and learn a little bit about building web apps and
        user interfaces.  I know there are still a lot of rough edges, but I think it may
        actually be in a useful state at this point.</p>

    <p>Let me know what you think.  I plan to be making a lot of small changes over then 
        next few weeks, so let me know your thoughts.</p>

    <p>Jerry</p>
</div>    
{% endblock content %}
