{% extends "tracker/base_character_header.html" %}
{% block title %}Seraphim Combat Manager{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

<div class="btn-group" role="group" aria-label="actions">
    {% comment %} <a class="btn btn-danger" href="{% url 'tracker:manage_wound' combat.id character.id %}">wound</a> {% endcomment %}
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#wound-modal">Wound</button>
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#heal-modal">Heal</button>
    <div class="btn-grp" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"> Other </button>
        <div class="dropdown-menu " aria-labelledby="btnGroupDrop1">
            <a class="btn btn-info" href="#">Effects</a>
            <button class="btn btn-info" data-toggle="modal" data-target="#bandage-modal">Bandage</button>
        </div>
    </div>
</div>














{% comment %} Modal dialog for adding a wound {% endcomment %}
<div class="modal fade" id="wound-modal" tabindex="-1" role="dialog" aria-labelledby="woundModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="woundModalLabel">Add Wound</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'tracker:add_wound' combat.id character.id %}" method="post"> {% csrf_token %}
                <div class="modal-body">
                    {% comment %} <div class="form-group">
                        <label for="wound-amount">Amount</label>
                        <input type="number" class="form-control" name="wound-amount" id="wound-amount">
                    </div> {% endcomment %}
                    {% crispy woundform %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</input>
                </div>
            </form>
        </div>
    </div>
</div>

{% comment %} Modal dialog for adding a heal {% endcomment %}
<div class="modal fade" id="heal-modal" tabindex="-1" role="dialog" aria-labelledby="healModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="healModalLabel">Add heal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'tracker:add_heal' combat.id character.id %}" method="post"> {% csrf_token %}
                <div class="modal-body">
                    {% comment %}
                    <div class="form-group">
                        <label for="heal-amount">Amount</label>
                        <input type="number" class="form-control" name="heal-amount" id="heal-amount">
                    </div> {% endcomment %} {% crispy healform %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</input>
                </div>
            </form>
        </div>
    </div>
</div>

{% comment %} Modal dialog for bandaging {% endcomment %}
<div class="modal fade" id="bandage-modal" tabindex="-1" role="dialog" aria-labelledby="bandageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bandageModalLabel">Add heal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'tracker:bandage_character' combat.id character.id%}" method="post"> {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="skill_level">Bandaging Skill Level</label>
                        <select type="select" class="form-control" name="skill_level" id="skill_level">
                            <option value="1">1 - Rudimentary</option>
                            <option value="2">2 - Proficient</option>
                            <option value="3">3 - Master</option>
                            <option value="3">4 - Master Doctor</option>
                        </select>
                        <label for="bonus">Bonus healing</label>
                        <input type="number" class="form-control" name="bonus" id="bonus">
                    </div> 
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</input>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}