{% extends "base.html" %} 
{% block title %}Seraphim Combat Manager{% endblock %} 

{% block content %}
<div class="container">
    <div class="row">
        {% for character, current_hp, max_hp, total_h in combat_state %}
        <a class="col-md-6 mb-2 nodecor" href="{% url 'tracker:manage_character' combat.id character.id %}" style="background-color:white;">
            <!--- Outer Card -->
            <div class="row">
                <div class="col-3" style="background-color:white;">
                    <!--- Left Side Icon -->
                    <img class="img img-responsive" src="/{{character.icon.url}}" />
                </div>
                <div class="col-9" style="background-color:aliceblue;">
                    <!--- Right Side Info -->
                    <h3>{{character.name}}</h3>
                    <div class="row">
                        <div class="col-7">
                            {{character.av_short}}
                        </div>
                        <h4 class="col-5 text-right">
                            <span class="{{current_hp.style}}"> {{current_hp}} </span> / 
                            <span class="small {{max_hp.style}}">{{max_hp}}</span>&nbsp;HP
                        </h4>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}