{% extends "base.html" %}
{% block title %}Seraphim{% endblock %}

{% block content %}
<div class="container">
    <h2>Characters</h2>

    <div class="row">
        <div class="col-md-6 mb-1" style="background-color:black;">
            <div class="row">
                <div class="col-2" style="background-color:white;">
                    <img class="img img-responsive" src="/static/images/icons/swords-emblem.svg" />
                </div>
                <div class="col-10" style="background-color:aliceblue;">
                    <h3>Details</h3>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-1" style="background-color:black;">
            <div class="row">
                <div class="col-2" style="background-color:white;">
                    <img class="img img-responsive" src="/static/images/icons/daggers.svg" />
                </div>
                <div class="col-10" style="background-color:aliceblue;">
                    <h3>Details</h3>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-1" style="background-color:black;">
            <div class="row">
                <div class="col-2" style="background-color:white;">
                    <img class="img img-responsive" src="/static/images/icons/caduceus.svg" />
                </div>
                <div class="col-10" style="background-color:aliceblue;">
                    <h3>Details</h3>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-1" style="background-color:black;">
            <div class="row">
                <div class="col-2" style="background-color:white;">
                    <img class="img img-responsive" src="/static/images/icons/burning-embers.svg" />
                </div>
                <div class="col-10" style="background-color:aliceblue;">
                    <h3>Details</h3>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-1" style="background-color:black;">
            <div class="row">
                <div class="col-2" style="background-color:white;">
                    <img class="img img-responsive" src="/static/images/icons/wolf-head.svg" />
                </div>
                <div class="col-10" style="background-color:aliceblue;">
                    <h3>Details</h3>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-1" style="background-color:cadetblue;">2</div>
        <div class="col-md-6" style="background-color:darkolivegreen;">3</div>
        <div class="col-md-6" style="background-color:blue;">4</div>
        <div class="col-md-6" style="background-color:blueviolet;">5</div>
    </div>
</div>    
{% endblock content %}
