{% extends "base.html" %}
{% block title %}Seraphim{% endblock %}

{% block content %}
<div class="container">
    <h2>Characters</h2>
    <div class="row" href="#">
        {% for character in object_list %}
            <a class="col-md-6 mb-1 clearfix nodecor" href="{% url 'characters:detail' character.id %}" style="background-color:black;"> <!--- Outer Card -->
                <div class="row">
                    <div class="col-3" style="background-color:white;"> <!--- Left Side Icon -->
                        <img class="img img-responsive" src="/{{character.icon.url}}" />
                    </div>
                    <div class="col-9 clearfix" style="background-color:aliceblue;"> <!--- Right Side Info -->
                        <h3>{{character.name}}</h3>
                        <div class="row">
                            <div class="col-sm-6">{{character.profession}}: {{character.level}}</div>
                            <div class="col-sm-6 text-right">
                                {{character.base_hp}}/<b>{{character.base_hp}}</b> HP
                            </div>
                        </div>
                    </div> 
                </div>
            </a>
        {% endfor %}
    </div>
</div>    
{% endblock content %}
